openapi: 3.1.0
info:
  title: wg0 brain API
  version: "1.0.0"
  summary: Control plane for wg0 — multi-tenant WireGuard private networking
  description: |
    wg0 is a multi-tenant WireGuard control plane. The brain exposes a
    REST API for:

    * multi-tenant account + network management (JWT-authenticated)
    * device-first managed connector inventory and per-membership control
    * node enrollment, heartbeat, and unenroll (token + per-device secret)
    * native-LAN mode, overlay networks, and BYO Exit upstream tunnels
    * relay assist on native and overlay networks via network `relay_mode`
    * four-state presence (Online / Observed / Offline / Unknown)
    * device protocol v2 — strict, versioned, capability-aware
    * a separate admin surface gated on `X-Admin-Key`

    See the companion documents for context:

    * [README](https://github.com/absginc/wg0/blob/main/README.md)
    * [DEVICE_PROTOCOL.md](https://github.com/absginc/wg0/blob/main/docs/DEVICE_PROTOCOL.md)
    * [BYO_EXIT.md](https://github.com/absginc/wg0/blob/main/docs/BYO_EXIT.md)
    * [TESTING_ROADMAP.md](https://github.com/absginc/wg0/blob/main/docs/TESTING_ROADMAP.md)
    * [ROADBLOCKS.md](https://github.com/absginc/wg0/blob/main/docs/ROADBLOCKS.md)

    ## Versioning

    * Everything under `/api/v1/...` is frozen. Additive changes only.
    * `/api/v2/devices/:id/state` is the strict, versioned device protocol
      surface. Callers must send `Wg0-Protocol-Version: 2`.
    * v2 can evolve additively within v2; a structural change that breaks
      v2 clients means v3.

    ## Authentication schemes

    | Scheme | Header / field | Used by |
    |---|---|---|
    | `bearerAuth` | `Authorization: Bearer <JWT>` | owner-authenticated endpoints (dashboard + automation) |
    | `deviceSecret` | `X-Device-Secret: <secret>` | per-device endpoints on the v1 surface (heartbeat, config, rotate-secret, claim, self-delete) |
    | `strictDeviceAuth` | `X-Device-Secret` + `Wg0-Protocol-Version: 2` | v2 endpoints — no grace fallback |
    | `adminKey` | `X-Admin-Key: <key>` | `/api/v1/admin/*` endpoints |
    | `enrollmentToken` | `token` field in request body | `/api/v1/enroll/register` only |

  contact:
    name: wg0
    url: https://wg0.io
  license:
    name: Proprietary
servers:
  - url: https://connect.wg0.io
    description: Production brain
  - url: http://localhost:8000
    description: Local dev brain

tags:
  - name: Auth
    description: Account registration and login
  - name: API Keys
    description: Personal access tokens for long-lived automation
  - name: Accounts
    description: Account context, memberships, and team management
  - name: Devices
    description: Managed device inventory, peerings, endpoint history, and memberships
  - name: Device Profiles
    description: Access profiles and self-service device controls
  - name: Networks
    description: Multi-tenant network management
  - name: Enrollment
    description: Enrollment tokens + node registration
  - name: Nodes
    description: Node lifecycle + heartbeat
  - name: Device Protocol v1
    description: Device-authenticated endpoints on the v1 surface
  - name: Device Protocol v2
    description: Strict, versioned, capability-aware device surface
  - name: BYO Exit
    description: Upstream WireGuard tunnels attached to host nodes
  - name: Traffic
    description: Traffic telemetry
  - name: Admin
    description: Platform-wide admin endpoints (X-Admin-Key)
  - name: Health
    description: Service health

security: []

paths:
  /health:
    get:
      tags: [Health]
      operationId: getHealth
      summary: Health check
      description: Simple liveness probe. No auth required.
      responses:
        "200":
          description: Service is up
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: ok }
                  service: { type: string, example: wg0-brain }

  /api/v1/auth/register:
    post:
      tags: [Auth]
      operationId: registerAccount
      summary: Create a new account
      description: |
        Creates a new multi-tenant account. Returns a JWT on success.
        The password is hashed server-side with Argon2id; the brain never
        persists plaintext.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AccountRegister"
      responses:
        "201":
          description: Account created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TokenResponse" }
        "409":
          description: Email already in use
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /api/v1/auth/login:
    post:
      tags: [Auth]
      operationId: loginAccount
      summary: Exchange credentials for a JWT
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AccountLogin"
      responses:
        "200":
          description: Login succeeded
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TokenResponse" }
        "401":
          description: Invalid credentials
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /api/v1/accounts/me:
    get:
      tags: [Accounts]
      operationId: getAccountMe
      summary: Current account context, plan, usage, and billing state
      security:
        - bearerAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AccountMeResponse" }

  /api/v1/accounts/me/memberships:
    get:
      tags: [Accounts]
      operationId: listAccountMemberships
      summary: List every account membership for the current user
      security:
        - bearerAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/MembershipSummary" }

  /api/v1/accounts/switch:
    post:
      tags: [Accounts]
      operationId: switchAccount
      summary: Switch active account context
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/SwitchAccountRequest" }
      responses:
        "200":
          description: Fresh bearer token for the requested account context
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TokenResponse" }

  /api/v1/auth/accept-invite:
    post:
      tags: [Auth]
      operationId: acceptInvite
      summary: Accept a pending account invitation
      description: |
        Public endpoint. The invitation token in the request body is the
        authentication mechanism for this route.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                token: { type: string }
                name: { type: string }
                password: { type: string, format: password }
      responses:
        "200":
          description: Invitation accepted
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TokenResponse" }
        "400":
          description: Invalid or expired invitation
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /api/v1/accounts/users:
    get:
      tags: [Accounts]
      operationId: listAccountUsers
      summary: List users and pending invitations on the current account
      security:
        - bearerAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true

  /api/v1/accounts/users/invite:
    post:
      tags: [Accounts]
      operationId: inviteAccountUser
      summary: Invite a user to the current account
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email: { type: string, format: email }
                role: { type: string }
      responses:
        "200":
          description: Invitation created
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true

  /api/v1/accounts/users/invite/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, format: uuid }
    delete:
      tags: [Accounts]
      operationId: revokeAccountInvite
      summary: Revoke a pending account invitation
      security:
        - bearerAuth: []
      responses:
        "204": { description: Revoked }

  /api/v1/accounts/users/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, format: uuid }
    patch:
      tags: [Accounts]
      operationId: updateAccountUser
      summary: Change a member role on the current account
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                role: { type: string }
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
    delete:
      tags: [Accounts]
      operationId: removeAccountUser
      summary: Remove a user from the current account
      security:
        - bearerAuth: []
      responses:
        "204": { description: Removed }

  /api/v1/accounts/users/{id}/suspend:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, format: uuid }
    post:
      tags: [Accounts]
      operationId: suspendAccountUser
      summary: Suspend a user on the current account
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Suspended
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true

  /api/v1/accounts/users/{id}/reactivate:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, format: uuid }
    post:
      tags: [Accounts]
      operationId: reactivateAccountUser
      summary: Reactivate a suspended user on the current account
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Reactivated
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true

  /api/v1/accounts/users/{id}/scopes:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [Accounts]
      operationId: listAccountUserScopes
      summary: List network scopes for a team manager
      security:
        - bearerAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
    post:
      tags: [Accounts]
      operationId: addAccountUserScope
      summary: Grant a team manager access to a network
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                network_id: { type: string, format: uuid }
      responses:
        "200":
          description: Scope added
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true

  /api/v1/accounts/users/{id}/scopes/{network_id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, format: uuid }
      - name: network_id
        in: path
        required: true
        schema: { type: string, format: uuid }
    delete:
      tags: [Accounts]
      operationId: removeAccountUserScope
      summary: Remove a team manager network scope
      security:
        - bearerAuth: []
      responses:
        "204": { description: Scope removed }

  /api/v1/api-keys:
    get:
      tags: [API Keys]
      operationId: listApiKeys
      summary: List personal access tokens for the authenticated account
      description: |
        **JWT-only** — the `jwtAuth` security scheme enforces this.
        PAT bearers are explicitly rejected with 401 so a leaked PAT
        cannot enumerate sibling credentials.

        Returns every PAT owned by this account, revoked ones
        included. Plaintext and hash are never returned — only the
        8-char prefix, metadata, and usage timestamps. Sort order:
        live keys first (most recent first), then revoked keys.
      security:
        - jwtAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/ApiKeyListEntry" }
        "401":
          description: Missing JWT or PAT used
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
    post:
      tags: [API Keys]
      operationId: createApiKey
      summary: Mint a new personal access token
      description: |
        **JWT-only** — enforced by the `jwtAuth` security scheme. PAT
        bearers are rejected with 401. A leaked PAT must never be
        able to mint successor credentials; minting requires fresh
        proof that the caller is the human owner.

        Returns the plaintext API key ONCE in the response body. The
        brain only stores the Argon2id hash. Optional `expires_at`
        auto-retires the token at the given time — strongly
        recommended for scheduled automation.

        PATs in the current MVP have the same authority as the
        user's JWT for every non-PAT-management endpoint (scope
        enforcement is tracked as follow-up in
        `docs/ROADBLOCKS.md` §9). Within PAT management itself,
        however, PATs are powerless — the only thing that can mint,
        list, or revoke them is a JWT.
      security:
        - jwtAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateApiKeyRequest" }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CreateApiKeyResponse" }
        "401":
          description: Missing JWT or PAT used
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /api/v1/api-keys/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, format: uuid }
    delete:
      tags: [API Keys]
      operationId: revokeApiKey
      summary: Revoke a personal access token
      description: |
        **JWT-only** — a leaked PAT cannot revoke its siblings, which
        would turn credential leakage into an availability attack.

        Sets `revoked_at`. Idempotent — revoking a non-existent or
        already-revoked key returns 204 either way, preventing
        oracle-style enumeration.
      security:
        - jwtAuth: []
      responses:
        "204": { description: Revoked }
        "401":
          description: Missing JWT or PAT used
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /api/v1/networks:
    get:
      tags: [Networks]
      operationId: listNetworks
      summary: List all networks owned by the authenticated account
      description: |
        Returns every network the account owns, each enriched with
        aggregate counts: `node_count`, `online_count`, `tx_bytes`,
        `rx_bytes`. `online_count` follows the four-state presence
        model (Online + Observed both counted as connected).
      security:
        - bearerAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/NetworkWithStats" }
        "401":
          description: Missing or invalid JWT
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
    post:
      tags: [Networks]
      operationId: createNetwork
      summary: Create a new network
      description: |
        Creates either an overlay network (default, private subnet like
        `10.64.x.x`) or a native-LAN network (clients appear as real
        members of the host's LAN). See `network_type`.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/NetworkCreate" }
      responses:
        "201":
          description: Network created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Network" }
        "400":
          description: Validation error
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /api/v1/networks/{id}:
    parameters:
      - $ref: "#/components/parameters/NetworkId"
    patch:
      tags: [Networks]
      operationId: updateNetwork
      summary: Update mutable network settings
      description: |
        Updates additive network policy. Today the key mutable field is
        `relay_mode`, which controls relay assist for native and overlay
        networks:

        * `never`  — direct peer-to-peer only
        * `auto`   — use relay assist during degraded bootstrap / recovery,
          then probe back to direct
        * `always` — force managed peerings through the account relay
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/NetworkUpdate" }
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Network" }
        "422":
          description: Validation error
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
    delete:
      tags: [Networks]
      operationId: deleteNetwork
      summary: Delete a network and all its nodes
      security:
        - bearerAuth: []
      responses:
        "204": { description: Deleted }
        "404":
          description: Not found
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /api/v1/networks/{id}/provision:
    parameters:
      - $ref: "#/components/parameters/NetworkId"
    post:
      tags: [Enrollment]
      operationId: provisionDevice
      summary: Server-side keygen + enrollment for the QR/mobile flow
      description: |
        The brain generates a WireGuard keypair server-side, enrolls a
        new node with the generated public key, and returns the full
        `wg0.conf` text with the `PrivateKey` line populated.

        The private key is transmitted ONCE in the response and never
        persisted. The dashboard renders the wg_config as a QR code so
        stock WireGuard mobile apps can scan it directly.

        Devices enrolled via this path get `device_kind = 'provisioned'`
        and a `device_secret` (for future agent upgrades). The device
        secret is NOT returned in the response since stock WireGuard
        has nowhere to store it.

        For the bring-your-own-key path, see `/api/v1/enroll/register`.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ProvisionRequest" }
      responses:
        "201":
          description: Device provisioned
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ProvisionResponse" }

  /api/v1/enroll/generate-token:
    post:
      tags: [Enrollment]
      operationId: generateEnrollmentToken
      summary: Mint an enrollment token for a network
      description: |
        Tokens are used by the shell connector's `enroll` subcommand and
        by any other agent that supplies its own WireGuard public key.
        Single-use by default; pass `is_reusable: true` for a long-lived
        MSP provisioning token.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/TokenRequest" }
      responses:
        "201":
          description: Token minted
          content:
            application/json:
              schema: { $ref: "#/components/schemas/EnrollmentToken" }

  /api/v1/enroll/register:
    post:
      tags: [Enrollment]
      operationId: enrollNode
      summary: Register a node using an enrollment token
      description: |
        Bring-your-own-key enrollment. The caller supplies its own
        WireGuard `public_key`; the brain never sees the private key.
        Returns overlay IP, peer list, full wg_config template with
        the `PrivateKey` placeholder, and a `device_secret` for
        subsequent device-authenticated calls.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/EnrollRequest" }
      responses:
        "201":
          description: Enrolled
          content:
            application/json:
              schema: { $ref: "#/components/schemas/EnrollResponse" }
        "400":
          description: Invalid token or payload
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /api/v1/devices:
    get:
      tags: [Devices]
      operationId: listDevices
      summary: List managed devices
      description: |
        Returns one row per managed installation. A device owns one or
        more network memberships (node rows). This is the preferred
        inventory surface for the dashboard's Devices page.
      security:
        - bearerAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/DeviceSummaryResponse" }

  /api/v1/devices/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, format: uuid }
        description: Device UUID
    get:
      tags: [Devices]
      operationId: getDevice
      summary: Get a managed device
      security:
        - bearerAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DeviceSummaryResponse" }
        "404":
          description: Not found
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
    patch:
      tags: [Devices]
      operationId: updateDevice
      summary: Update device metadata
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/UpdateDeviceRequest" }
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DeviceSummaryResponse" }

  /api/v1/devices/{id}/endpoint-history:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, format: uuid }
        description: Device UUID
    get:
      tags: [Devices]
      operationId: getDeviceEndpointHistory
      summary: Device-scoped endpoint history
      description: |
        Aggregated endpoint timeline for all memberships attached to
        this managed device. Powers the Device detail endpoint-history tab.
      security:
        - bearerAuth: []
      parameters:
        - name: limit
          in: query
          required: false
          schema: { type: integer, minimum: 1, maximum: 500, default: 100 }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DeviceEndpointHistoryResponse" }

  /api/v1/devices/{id}/peerings:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, format: uuid }
        description: Device UUID
    get:
      tags: [Devices]
      operationId: getDevicePeerings
      summary: Device-scoped mesh and relay peerings
      description: |
        Returns the per-membership peering view used by the managed
        Device page: direct/relayed/probing state, last handshake,
        observed endpoint, flow counters, and any dedicated relay helpers.
      security:
        - bearerAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DevicePeeringsResponse" }

  /api/v1/devices/{id}/memberships:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, format: uuid }
        description: Device UUID
    post:
      tags: [Devices]
      operationId: createMembershipRequest
      summary: Attach an existing device to another network
      description: |
        Creates a pending membership request for a managed device. The
        request is fulfilled by an upgraded client via the installation-scoped
        v2 path once it has generated a fresh WireGuard keypair locally.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateMembershipRequestBody" }
      responses:
        "200":
          description: Device summary with the new pending request
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DeviceSummaryResponse" }
        "422":
          description: Validation error
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /api/v1/devices/{id}/memberships/{node_id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, format: uuid }
        description: Device UUID
      - name: node_id
        in: path
        required: true
        schema: { type: string, format: uuid }
        description: Membership node UUID
    patch:
      tags: [Devices]
      operationId: updateMembership
      summary: Update a device membership
      description: |
        Updates membership-scoped settings such as node name, role,
        advertised routes, host failover metadata, and native VPN
        route-all behavior.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/UpdateMembershipRequestBody" }
      responses:
        "200":
          description: Device summary with refreshed membership state
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DeviceSummaryResponse" }
    delete:
      tags: [Devices]
      operationId: deleteMembership
      summary: Remove a device from a network
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Device summary after membership deletion
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DeviceSummaryResponse" }

  /api/v1/accounts/device-profiles:
    get:
      tags: [Device Profiles]
      operationId: listDeviceProfiles
      summary: List access profiles on the current account
      security:
        - bearerAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/DeviceProfileResponse" }
    post:
      tags: [Device Profiles]
      operationId: createDeviceProfile
      summary: Create an access profile
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateProfileRequest" }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DeviceProfileResponse" }

  /api/v1/accounts/device-profiles/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, format: uuid }
    patch:
      tags: [Device Profiles]
      operationId: updateDeviceProfile
      summary: Update an access profile
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateProfileRequest" }
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DeviceProfileResponse" }
    delete:
      tags: [Device Profiles]
      operationId: deleteDeviceProfile
      summary: Delete an access profile
      security:
        - bearerAuth: []
      responses:
        "204": { description: Deleted }

  /api/v1/accounts/device-profiles/{id}/users:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [Device Profiles]
      operationId: listDeviceProfileUsers
      summary: List users assigned to an access profile
      security:
        - bearerAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
    post:
      tags: [Device Profiles]
      operationId: addDeviceProfileUser
      summary: Assign a user to an access profile
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id: { type: string, format: uuid }
      responses:
        "200":
          description: Assigned
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true

  /api/v1/accounts/device-profiles/{id}/users/{user_id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, format: uuid }
      - name: user_id
        in: path
        required: true
        schema: { type: string, format: uuid }
    delete:
      tags: [Device Profiles]
      operationId: removeDeviceProfileUser
      summary: Remove a user from an access profile
      security:
        - bearerAuth: []
      responses:
        "204": { description: Removed }

  /api/v1/my-access:
    get:
      tags: [Device Profiles]
      operationId: getMyAccess
      summary: Self-service access view for the current user
      security:
        - bearerAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MyAccessResponse" }

  /api/v1/my-access/{id}/enroll-token:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, format: uuid }
    post:
      tags: [Device Profiles]
      operationId: createMyAccessEnrollToken
      summary: Mint a self-service enrollment token for a profile
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Token minted
          content:
            application/json:
              schema: { $ref: "#/components/schemas/EnrollmentToken" }

  /api/v1/my-access/{id}/provision:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, format: uuid }
    post:
      tags: [Device Profiles]
      operationId: createMyAccessProvisionedPeer
      summary: Provision a self-service QR/manual peer under a profile
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ProvisionRequest" }
      responses:
        "200":
          description: Provisioned
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ProvisionResponse" }

  /api/v1/my-access/nodes/{id}:
    parameters:
      - $ref: "#/components/parameters/NodeId"
    patch:
      tags: [Device Profiles]
      operationId: patchMyAccessNode
      summary: Self-service action on a member-owned device
      description: |
        Used by the member self-service UI for rename, delete, and
        VPN-through-host toggle actions gated by the assigned profile.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/SelfServiceNodeAction" }
      responses:
        "200":
          description: Updated self-service view
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MyAccessResponse" }

  /api/v1/nodes:
    get:
      tags: [Nodes]
      operationId: listNodes
      summary: List nodes owned by the authenticated account
      description: |
        Returns every node across every network the account owns, each
        enriched with derived fields: `presence` (four-state),
        `observed_endpoint` (from discover), `last_activity` (max of
        heartbeat + observations), `on_host_lan` (physical LAN adjacency
        for native-LAN clients).
      security:
        - bearerAuth: []
      parameters:
        - name: network_id
          in: query
          schema: { type: string, format: uuid }
          description: Optional filter to a single network
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/NodeWithStatus" }

  /api/v1/nodes/{id}:
    parameters:
      - $ref: "#/components/parameters/NodeId"
    patch:
      tags: [Nodes]
      operationId: updateNode
      summary: Update node settings
      description: |
        Updates mutable node fields. `route_all_traffic` is only valid on
        client nodes in native-LAN networks and will be rejected otherwise.
        `current_upstream_exit_id` / `clear_upstream_exit` are only valid
        on host nodes in native-LAN networks. Any field that affects the
        rendered wg_config bumps `config_version` so managed connectors
        fetch fresh config on their next heartbeat.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/NodeUpdate" }
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Node" }
        "422":
          description: Validation error (guardrail hit)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
    delete:
      tags: [Nodes]
      operationId: deleteNode
      summary: Delete a node (owner-authenticated)
      security:
        - bearerAuth: []
      responses:
        "204": { description: Deleted }
        "404":
          description: Not found
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /api/v1/nodes/{id}/assign:
    parameters:
      - $ref: "#/components/parameters/NodeId"
    patch:
      tags: [Device Profiles]
      operationId: assignNodeOwner
      summary: Assign or transfer node ownership
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                owner_user_id: { type: string, format: uuid, nullable: true }
                device_profile_id: { type: string, format: uuid, nullable: true }
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true

  /api/v1/nodes/{id}/claim:
    parameters:
      - $ref: "#/components/parameters/NodeId"
    post:
      tags: [Device Protocol v1]
      operationId: claimNode
      summary: Claim a managed node for the current user
      security:
        - deviceSecret: []
      responses:
        "200":
          description: Claimed
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true

  /api/v1/nodes/{id}/endpoint-history:
    parameters:
      - $ref: "#/components/parameters/NodeId"
    get:
      tags: [Nodes]
      operationId: getNodeEndpointHistory
      summary: Node-scoped endpoint history
      security:
        - bearerAuth: []
      parameters:
        - name: limit
          in: query
          required: false
          schema: { type: integer, minimum: 1, maximum: 500, default: 100 }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/NodeEndpointHistoryResponse" }

  /api/v1/nodes/{id}/heartbeat:
    parameters:
      - $ref: "#/components/parameters/NodeId"
    post:
      tags: [Device Protocol v1]
      operationId: postHeartbeat
      summary: Managed connector heartbeat
      description: |
        Called by the managed connector every 30 seconds. Reports
        telemetry, peer observations, and route-all state. Response
        carries the fresh peer map, optional upstream_exit block,
        and `config_version` for drift detection.

        Authentication: if the node has a `device_secret_hash`,
        `X-Device-Secret` is required. Pre-v2 rows (NULL hash) use
        the grace path — header is accepted but not required.
      security:
        - deviceSecret: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/HeartbeatRequest" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/HeartbeatResponse" }
        "401":
          description: Invalid X-Device-Secret
        "404":
          description: Node not found

  /api/v1/nodes/{id}/self:
    parameters:
      - $ref: "#/components/parameters/NodeId"
    delete:
      tags: [Device Protocol v1]
      operationId: selfUnenroll
      summary: Connector self-unenroll
      description: |
        Called by the connector's `unenroll` subcommand. Removes the
        node row and unregisters the peer from discover.
      security:
        - deviceSecret: []
      responses:
        "204": { description: Unenrolled }
        "401":
          description: Invalid X-Device-Secret
        "404":
          description: Node not found

  /api/v1/nodes/{id}/config:
    parameters:
      - $ref: "#/components/parameters/NodeId"
    get:
      tags: [Device Protocol v1]
      operationId: getDeviceConfig
      summary: Fetch the current rendered wg_config for this device
      description: |
        Returns a freshly-rendered `wg_config` text with the `PrivateKey`
        placeholder preserved. The connector calls this when the heartbeat
        response advertises a `config_version` greater than the local
        stored value — it then substitutes its private key, rewrites
        `/etc/wireguard/wg0.conf`, and runs `wg syncconf` to converge
        the live interface without teardown.
      security:
        - deviceSecret: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DeviceConfigResponse" }

  /api/v1/nodes/{id}/rotate-secret:
    parameters:
      - $ref: "#/components/parameters/NodeId"
    post:
      tags: [Device Protocol v1]
      operationId: rotateDeviceSecret
      summary: Rotate the per-device secret
      description: |
        Generates a fresh secret, updates the stored Argon2id hash, and
        returns the new plaintext ONCE. Requires the CURRENT secret via
        `X-Device-Secret` — this is how post-incident rotation and
        legacy-to-strict migration both happen.
      security:
        - deviceSecret: []
      responses:
        "200":
          description: Rotated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/RotateSecretResponse" }

  /api/v2/devices/{id}/state:
    parameters:
      - $ref: "#/components/parameters/NodeId"
    post:
      tags: [Device Protocol v2]
      operationId: postDeviceState
      summary: Report current state + receive desired state (v2)
      description: |
        The v2 replacement for `/api/v1/nodes/:id/heartbeat`. Strict
        `X-Device-Secret` + `Wg0-Protocol-Version: 2` required. Body
        includes explicit `capabilities: [...]` the brain uses to
        capability-gate the desired-state response.
      security:
        - strictDeviceAuth: []
      parameters:
        - $ref: "#/components/parameters/ProtocolVersion"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/V2StateReport" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/V2StateResponse" }
        "401":
          description: Missing or invalid X-Device-Secret
        "422":
          description: Missing or wrong Wg0-Protocol-Version
    get:
      tags: [Device Protocol v2]
      operationId: getDeviceState
      summary: Fetch desired state only (v2)
      description: |
        Drift-refresh pull without reporting telemetry. Same auth rules
        as POST.
      security:
        - strictDeviceAuth: []
      parameters:
        - $ref: "#/components/parameters/ProtocolVersion"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/V2StateResponse" }

  /api/v2/devices/{id}/settings:
    parameters:
      - $ref: "#/components/parameters/NodeId"
    patch:
      tags: [Device Protocol v2]
      operationId: patchDeviceSettings
      summary: Patch device-side settings (strict v2)
      description: |
        Strict device-authenticated toggle surface used by upgraded
        managed clients. Today this controls the device-side
        `route_all_traffic` / VPN-through-host setting and returns the
        refreshed desired-state document.
      security:
        - strictDeviceAuth: []
      parameters:
        - $ref: "#/components/parameters/ProtocolVersion"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/V2SettingsPatch" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/V2StateResponse" }

  /api/v2/installations/{id}/state:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, format: uuid }
        description: Device UUID
    get:
      tags: [Devices]
      operationId: getInstallationState
      summary: Installation-scoped managed device state
      description: |
        Strict installation-authenticated inventory path for upgraded
        managed connectors. Returns device identity, existing memberships,
        and pending membership requests that can be fulfilled locally.
      security:
        - strictDeviceAuth: []
      parameters:
        - $ref: "#/components/parameters/ProtocolVersion"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/InstallationStateResponse" }

  /api/v2/installations/{id}/memberships/{request_id}/fulfill:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, format: uuid }
        description: Device UUID
      - name: request_id
        in: path
        required: true
        schema: { type: string, format: uuid }
        description: Pending membership request UUID
    post:
      tags: [Devices]
      operationId: fulfillMembershipRequest
      summary: Fulfill a pending device membership request
      description: |
        Upgraded clients call this after generating a new local keypair
        for an additional network membership. Returns the new node identity,
        rendered wg_config, and initial peer set.
      security:
        - strictDeviceAuth: []
      parameters:
        - $ref: "#/components/parameters/ProtocolVersion"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/FulfillMembershipRequestBody" }
      responses:
        "200":
          description: Membership fulfilled
          content:
            application/json:
              schema: { $ref: "#/components/schemas/FulfillMembershipResponse" }

  /api/v1/nodes/{id}/upstream-exits:
    parameters:
      - $ref: "#/components/parameters/NodeId"
    get:
      tags: [BYO Exit]
      operationId: listUpstreamExits
      summary: List upstream WireGuard tunnels for a host
      description: |
        The `wg_config` field is intentionally excluded from list
        responses — it contains a private key and only the host itself
        (via its heartbeat) should ever see it.
      security:
        - bearerAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/UpstreamExitSummary" }
    post:
      tags: [BYO Exit]
      operationId: createUpstreamExit
      summary: Upload an upstream WireGuard config
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateUpstreamExitRequest" }
      responses:
        "201":
          description: Upstream created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/UpstreamExitSummary" }

  /api/v1/upstream-exits/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, format: uuid }
    delete:
      tags: [BYO Exit]
      operationId: deleteUpstreamExit
      summary: Delete an upstream exit
      security:
        - bearerAuth: []
      responses:
        "204": { description: Deleted }

  /api/v1/nodes/{id}/traffic:
    parameters:
      - $ref: "#/components/parameters/NodeId"
    get:
      tags: [Traffic]
      operationId: getNodeTraffic
      summary: Time-series traffic for a single node
      security:
        - bearerAuth: []
      parameters:
        - name: hours
          in: query
          schema: { type: integer, default: 24, minimum: 1, maximum: 168 }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/NodeTraffic" }

  /api/v1/networks/{id}/traffic:
    parameters:
      - $ref: "#/components/parameters/NetworkId"
    get:
      tags: [Traffic]
      operationId: getNetworkTraffic
      summary: Aggregated time-series traffic for a network
      security:
        - bearerAuth: []
      parameters:
        - name: hours
          in: query
          schema: { type: integer, default: 24 }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/NodeTraffic" }

  /api/v1/billing/status:
    get:
      tags: [Accounts]
      operationId: getBillingStatus
      summary: Public billing readiness probe
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/BillingStatusResponse" }

  /api/v1/billing/checkout-session:
    post:
      tags: [Accounts]
      operationId: createBillingCheckoutSession
      summary: Create a Stripe checkout session for plan upgrade or remediation
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: Checkout session created
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true

  /api/v1/billing/portal-session:
    post:
      tags: [Accounts]
      operationId: createBillingPortalSession
      summary: Create a Stripe customer portal session
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Portal session created
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true

  /api/v1/billing/webhook:
    post:
      tags: [Accounts]
      operationId: receiveBillingWebhook
      summary: Stripe webhook receiver
      description: |
        Internal callback endpoint used by Stripe. This is mounted on the
        public brain but authenticated by Stripe's webhook signature header,
        not by bearer JWTs.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: Webhook accepted

  /api/v1/billing/remediate:
    post:
      tags: [Accounts]
      operationId: remediateBillingOverage
      summary: Restrict account resources back within plan caps
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/RemediateRequest" }
      responses:
        "200":
          description: Remediation result
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: active }

  /api/v1/admin/stats:
    get:
      tags: [Admin]
      operationId: adminStats
      summary: Platform-wide summary counters
      security:
        - adminKey: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AdminStats" }

  /api/v1/admin/accounts:
    get:
      tags: [Admin]
      operationId: adminListAccounts
      summary: All accounts with network + node counts
      security:
        - adminKey: []
      responses:
        "200":
          description: OK

  /api/v1/admin/accounts/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [Admin]
      operationId: adminAccountDetail
      summary: Deep detail for one account
      security:
        - adminKey: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
    delete:
      tags: [Admin]
      operationId: adminDeleteAccount
      summary: Delete an account
      security:
        - adminKey: []
      responses:
        "204": { description: Deleted }

  /api/v1/admin/nodes:
    get:
      tags: [Admin]
      operationId: adminListNodes
      summary: All enrolled nodes across all accounts
      description: |
        Returns per-node presence, `observed_endpoint`, `last_activity`,
        `device_kind`, `route_all_traffic`, `route_all_active`,
        `on_host_lan` — the full admin-dashboard row.
      security:
        - adminKey: []
      responses:
        "200":
          description: OK

  /api/v1/admin/networks:
    get:
      tags: [Admin]
      operationId: adminListNetworks
      summary: All networks with per-network counts
      security:
        - adminKey: []
      responses:
        "200":
          description: OK

  /api/v1/admin/traffic:
    get:
      tags: [Admin]
      operationId: adminTraffic
      summary: Per-account / per-network traffic totals
      security:
        - adminKey: []
      responses:
        "200":
          description: OK

components:
  parameters:
    NetworkId:
      name: id
      in: path
      required: true
      schema: { type: string, format: uuid }
      description: Network UUID
    NodeId:
      name: id
      in: path
      required: true
      schema: { type: string, format: uuid }
      description: Node UUID
    ProtocolVersion:
      name: Wg0-Protocol-Version
      in: header
      required: true
      schema: { type: string, enum: ["2"] }
      description: Must be exactly "2" for v2 endpoints

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT or wg0_pat
      description: |
        Either an owner JWT from `/api/v1/auth/login` or a personal
        access token (`wg0_pat_<43 chars>`) from
        `POST /api/v1/api-keys`. Both go in the
        `Authorization: Bearer <token>` header. The brain routes
        `wg0_pat_*` prefixed values to the PAT lookup path and
        everything else to JWT decoding. PATs have the same authority
        as the user's JWT for the MVP — scope enforcement is tracked
        as follow-up in ROADBLOCKS.md §9.

        **Exception:** PAT management endpoints under `/api/v1/api-keys`
        use the separate `jwtAuth` scheme which rejects PATs. This
        prevents a leaked PAT from minting successor credentials or
        revoking sibling credentials.
    jwtAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        Strict JWT-only variant. Used by endpoints where PATs are
        explicitly rejected: `POST /api/v1/api-keys`,
        `GET /api/v1/api-keys`, `DELETE /api/v1/api-keys/:id`. Obtain
        via `/api/v1/auth/login`. A PAT-prefixed bearer on these
        endpoints returns 401 with a clear error message.
    deviceSecret:
      type: apiKey
      in: header
      name: X-Device-Secret
      description: |
        Per-device secret returned once at enrollment. Used for all
        device-authenticated endpoints on the v1 surface. Pre-v2 rows
        (NULL `device_secret_hash`) use a grace path that accepts
        the request without the header.
    strictDeviceAuth:
      type: apiKey
      in: header
      name: X-Device-Secret
      description: |
        Strict variant used by v2 endpoints. Requires a matching
        stored hash — no grace fallback. v2 endpoints also require
        `Wg0-Protocol-Version: 2` as a separate header; see the
        `ProtocolVersion` parameter.
    adminKey:
      type: apiKey
      in: header
      name: X-Admin-Key
      description: |
        Shared-secret key for the `/api/v1/admin/*` surface. Set via
        `ADMIN_API_KEY` env var on the brain; restrict admin access
        at the firewall / reverse-proxy level as well.

  schemas:
    Error:
      type: object
      properties:
        detail:
          type: string
          example: Invalid credentials
      required: [detail]

    AccountRegister:
      type: object
      required: [email, password]
      properties:
        email: { type: string, format: email }
        password: { type: string, minLength: 8 }
        company_name: { type: string, nullable: true }

    AccountLogin:
      type: object
      required: [email, password]
      properties:
        email: { type: string, format: email }
        password: { type: string }

    TokenResponse:
      type: object
      required: [access_token, token_type]
      properties:
        access_token: { type: string }
        token_type: { type: string, example: bearer }

    MembershipSummary:
      type: object
      properties:
        account_id: { type: string, format: uuid }
        company_name: { type: string, nullable: true }
        role: { type: string }
        is_active: { type: boolean }
        created_at: { type: string, format: date-time }

    SwitchAccountRequest:
      type: object
      required: [account_id]
      properties:
        account_id: { type: string, format: uuid }

    Entitlements:
      type: object
      additionalProperties: true
      description: Effective plan entitlements for the current account.

    AccountUsage:
      type: object
      properties:
        users: { type: integer, format: int64 }
        devices: { type: integer, format: int64 }
        networks: { type: integer, format: int64 }
        native_networks: { type: integer, format: int64 }
        host_nodes: { type: integer, format: int64 }
        pats: { type: integer, format: int64 }

    BillingState:
      type: object
      properties:
        configured: { type: boolean }
        stripe_customer_present: { type: boolean }
        subscription_status: { type: string, nullable: true }
        plan_updated_at: { type: string, format: date-time, nullable: true }
        state:
          type: string
          enum: [free, paid_healthy, payment_failed, canceled, enterprise, not_configured]

    AccountMeResponse:
      type: object
      properties:
        id: { type: string, format: uuid }
        email: { type: string, format: email }
        user_email: { type: string, format: email }
        user_role: { type: string }
        user_id: { type: string, format: uuid }
        plan_code: { type: string }
        plan_display_name: { type: string }
        nominal_plan_code: { type: string }
        nominal_plan_display_name: { type: string }
        entitlements: { $ref: "#/components/schemas/Entitlements" }
        usage: { $ref: "#/components/schemas/AccountUsage" }
        billing: { $ref: "#/components/schemas/BillingState" }
        account_state: { type: string }
        grace_ends_at: { type: string, format: date-time, nullable: true }

    CreateApiKeyRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
          description: Human-readable label (e.g. "ci-bot", "monitoring-cron")
        expires_at:
          type: string
          format: date-time
          nullable: true
          description: Optional auto-retirement time. None = never expires.

    CreateApiKeyResponse:
      type: object
      required: [id, name, key_prefix, created_at, api_key]
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        key_prefix:
          type: string
          description: First 8 chars of the random section, for display/audit
        created_at: { type: string, format: date-time }
        expires_at: { type: string, format: date-time, nullable: true }
        api_key:
          type: string
          description: |
            Plaintext token, format `wg0_pat_<43 urlsafe-b64 chars>`.
            Returned ONCE and never again — the brain stores only the
            Argon2id hash. Capture this at mint time; if you lose it,
            you must revoke and mint a new one.
          example: wg0_pat_kx7aBCd9fGhIjKlMnOpQrStUvWxYz0123456789-_Abc

    ApiKeyListEntry:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        key_prefix: { type: string }
        scopes:
          type: array
          items: { type: string }
          description: For MVP always `["full"]`. Scope enforcement is future work.
        created_at: { type: string, format: date-time }
        expires_at: { type: string, format: date-time, nullable: true }
        last_used_at: { type: string, format: date-time, nullable: true }
        revoked_at: { type: string, format: date-time, nullable: true }

    NetworkCreate:
      type: object
      required: [name]
      properties:
        name: { type: string }
        network_type:
          type: string
          enum: [overlay, native]
          default: overlay
        overlay_subnet:
          type: string
          description: Overlay mode only. None → auto-assign from pool.
          nullable: true
        native_gateway_subnet: { type: string, nullable: true, example: "192.168.1.0/24" }
        native_host_tunnel_ip: { type: string, nullable: true, example: "192.168.1.2" }
        native_client_start: { type: string, nullable: true, example: "192.168.1.200" }
        native_client_end: { type: string, nullable: true, example: "192.168.1.220" }

    NetworkUpdate:
      type: object
      properties:
        relay_mode:
          type: string
          enum: [never, auto, always]
          description: Relay assist policy for native and overlay networks.

    Network:
      type: object
      properties:
        id: { type: string, format: uuid }
        account_id: { type: string, format: uuid }
        name: { type: string }
        overlay_subnet: { type: string }
        network_index: { type: integer, nullable: true }
        created_at: { type: string, format: date-time }
        network_type: { type: string, enum: [overlay, native] }
        relay_mode: { type: string, enum: [never, auto, always] }
        native_gateway_subnet: { type: string, nullable: true }
        native_host_tunnel_ip: { type: string, nullable: true }
        native_client_start: { type: string, nullable: true }
        native_client_end: { type: string, nullable: true }

    NetworkWithStats:
      allOf:
        - $ref: "#/components/schemas/Network"
        - type: object
          properties:
            node_count: { type: integer, format: int64 }
            online_count: { type: integer, format: int64 }
            tx_bytes: { type: integer, format: int64 }
            rx_bytes: { type: integer, format: int64 }

    Node:
      type: object
      properties:
        id: { type: string, format: uuid }
        network_id: { type: string, format: uuid }
        device_id: { type: string, format: uuid, nullable: true }
        node_name: { type: string }
        os_type: { type: string, nullable: true }
        role: { type: string, enum: [client, host] }
        overlay_ip: { type: string }
        public_key: { type: string }
        advertised_routes:
          type: array
          nullable: true
          items: { type: string }
        host_priority: { type: integer, nullable: true }
        host_lan_ip: { type: string, nullable: true }
        last_seen: { type: string, format: date-time, nullable: true }
        is_online: { type: boolean }
        last_endpoint: { type: string, nullable: true }
        tx_bytes: { type: integer, format: int64 }
        rx_bytes: { type: integer, format: int64 }
        route_all_traffic: { type: boolean }
        route_all_active: { type: boolean }
        device_kind: { type: string, enum: [managed, provisioned] }
        upstream_exit_last_handshake: { type: string, format: date-time, nullable: true }
        upstream_exit_interface_up: { type: boolean, nullable: true }
        upstream_exit_health_updated_at: { type: string, format: date-time, nullable: true }
        owner_user_id: { type: string, format: uuid, nullable: true }
        device_profile_id: { type: string, format: uuid, nullable: true }

    Presence:
      type: string
      enum: [online, observed, offline, unknown]
      description: |
        Four-state presence model:

        * `online` — managed device with fresh heartbeat OR confirmed
          by a managed peer's host observation report
        * `observed` — no authoritative signal, but the discover sidecar
          saw a fresh WireGuard handshake within 15 minutes
        * `offline` — managed device that used to heartbeat but hasn't
          been seen by any source recently
        * `unknown` — provisioned device with no telemetry yet

    NodeWithStatus:
      allOf:
        - $ref: "#/components/schemas/Node"
        - type: object
          properties:
            on_host_lan: { type: boolean }
            presence: { $ref: "#/components/schemas/Presence" }
            observed_endpoint: { type: string, nullable: true }
            last_activity: { type: string, format: date-time, nullable: true }
            upstream_exit_health: { $ref: "#/components/schemas/UpstreamExitHealth" }
            host_exit_health: { $ref: "#/components/schemas/UpstreamExitHealth" }
            mesh_mode:
              type: string
              nullable: true
              description: direct, relayed, or probing_recovery when assisted mesh is active

    NodeUpdate:
      type: object
      properties:
        node_name: { type: string }
        route_all_traffic: { type: boolean }
        current_upstream_exit_id: { type: string, format: uuid, nullable: true }
        clear_upstream_exit: { type: boolean }

    PeerConfig:
      type: object
      properties:
        public_key: { type: string }
        allowed_ips: { type: string, example: "10.0.0.2/32, 10.0.0.0/24" }
        endpoint: { type: string, nullable: true }
        is_online: { type: boolean }
        on_same_lan: { type: boolean }

    HeartbeatRequest:
      type: object
      properties:
        endpoint: { type: string, nullable: true }
        installation_id: { type: string, format: uuid, nullable: true }
        capabilities:
          type: array
          nullable: true
          items: { type: string }
        connector_version:
          type: string
          nullable: true
          description: |
            Short connector build identifier (e.g. `linux-shell-0.4.1`,
            `macos-native-0.2.4`, `windows-native-gg`,
            `android-native-alpha19`). Added 2026-04-22. Stored on
            `nodes.connector_version` and surfaced in the portal's
            "Update available" pill.
        tx_bytes: { type: integer, format: int64, nullable: true }
        rx_bytes: { type: integer, format: int64, nullable: true }
        host_lan_ip: { type: string, nullable: true }
        peers:
          type: array
          nullable: true
          items: { $ref: "#/components/schemas/ObservedPeer" }
        telemetry:
          nullable: true
          $ref: "#/components/schemas/V2DeviceTelemetry"
        route_all_active: { type: boolean, nullable: true }
        upstream_exit_health:
          nullable: true
          $ref: "#/components/schemas/UpstreamExitHealthReport"

    ObservedPeer:
      type: object
      description: One peer from `wg show <iface> dump` as the connector sees it
      properties:
        public_key: { type: string }
        last_handshake: { type: integer, format: int64, nullable: true, description: Unix seconds; null = never }
        rx_bytes: { type: integer, format: int64 }
        tx_bytes: { type: integer, format: int64 }

    HeartbeatResponse:
      type: object
      properties:
        overlay_ip: { type: string }
        peers:
          type: array
          items: { $ref: "#/components/schemas/PeerConfig" }
        probe_peers:
          type: array
          items: { $ref: "#/components/schemas/ProbePeerConfig" }
        upstream_exit:
          nullable: true
          $ref: "#/components/schemas/HostUpstreamExit"
        config_version: { type: integer, format: int64 }
        collect_device_telemetry: { type: boolean }

    ProbePeerConfig:
      type: object
      properties:
        public_key: { type: string }
        endpoint: { type: string, nullable: true }
        persistent_keepalive: { type: integer, format: int32, nullable: true }

    HostUpstreamExit:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        provider_type: { type: string }
        wg_config: { type: string }

    DeviceConfigResponse:
      type: object
      properties:
        wg_config: { type: string, description: "Full wg_config text with PrivateKey placeholder preserved" }
        probe_peers:
          type: array
          items: { $ref: "#/components/schemas/ProbePeerConfig" }
        config_version: { type: integer, format: int64 }
        device_kind: { type: string, enum: [managed, provisioned] }

    RotateSecretResponse:
      type: object
      properties:
        device_secret: { type: string, description: "New plaintext, returned once" }

    ProvisionRequest:
      type: object
      required: [node_name]
      properties:
        node_name: { type: string }
        os_type: { type: string, nullable: true }
        role:
          type: string
          enum: [client, host]
          default: client
        advertised_routes:
          type: array
          nullable: true
          items: { type: string }

    ProvisionResponse:
      type: object
      properties:
        node_id: { type: string, format: uuid }
        overlay_ip: { type: string }
        network_type: { type: string, enum: [overlay, native] }
        public_key: { type: string }
        wg_config: { type: string, description: "Full wg0.conf text with PrivateKey populated" }
        peers:
          type: array
          items: { $ref: "#/components/schemas/PeerConfig" }

    TokenRequest:
      type: object
      required: [network_id]
      properties:
        network_id: { type: string, format: uuid }
        is_reusable: { type: boolean, default: false }
        expires_at: { type: string, format: date-time, nullable: true }
        target_device_id:
          type: string
          format: uuid
          nullable: true
          description: |
            Optional. When set, the minted token is bound to an
            existing `devices` row. On redemption
            (`POST /api/v1/enroll/register`), the brain takes an
            UPDATE path on the existing `nodes` row instead of
            allocating a new overlay IP: `public_key` and
            `device_secret` rotate, `config_version` bumps, but
            `node_id`, `overlay_ip`, and lifetime tx/rx counters are
            preserved. If the target device was deleted between mint
            and redeem, the brain falls through to the fresh-enroll
            INSERT path. Added 2026-04-23 for portal-driven
            re-enroll.

    EnrollmentToken:
      type: object
      properties:
        token_value: { type: string }
        network_id: { type: string, format: uuid }
        is_reusable: { type: boolean }
        expires_at: { type: string, format: date-time, nullable: true }

    EnrollRequest:
      type: object
      required: [token, node_name, public_key]
      properties:
        token: { type: string }
        installation_id: { type: string, format: uuid, nullable: true }
        node_name: { type: string }
        public_key: { type: string, description: "WireGuard public key, base64" }
        os_type: { type: string, nullable: true }
        role:
          type: string
          enum: [client, host]
          default: client
        advertised_routes:
          type: array
          nullable: true
          items: { type: string }
        endpoint: { type: string, nullable: true }

    EnrollResponse:
      type: object
      properties:
        node_id: { type: string, format: uuid }
        device_id: { type: string, format: uuid, nullable: true }
        installation_id: { type: string, format: uuid, nullable: true }
        overlay_ip: { type: string }
        network_type: { type: string, enum: [overlay, native] }
        device_secret:
          type: string
          description: Per-device secret. Returned ONCE; the brain only stores the Argon2id hash.
        wg_config: { type: string }
        peers:
          type: array
          items: { $ref: "#/components/schemas/PeerConfig" }

    UpstreamExitSummary:
      type: object
      properties:
        id: { type: string, format: uuid }
        host_node_id: { type: string, format: uuid }
        name: { type: string }
        provider_type: { type: string }
        created_at: { type: string, format: date-time }
        is_active: { type: boolean }

    CreateUpstreamExitRequest:
      type: object
      required: [name, wg_config]
      properties:
        name: { type: string }
        provider_type: { type: string, default: "custom-wg" }
        wg_config: { type: string, description: "Full wg0.conf text" }

    TrafficBucket:
      type: object
      properties:
        ts: { type: string, format: date-time }
        tx_bytes: { type: integer, format: int64 }
        rx_bytes: { type: integer, format: int64 }

    NodeTraffic:
      type: object
      properties:
        node_id: { type: string, format: uuid }
        total_tx_bytes: { type: integer, format: int64 }
        total_rx_bytes: { type: integer, format: int64 }
        buckets:
          type: array
          items: { $ref: "#/components/schemas/TrafficBucket" }

    # ── Device protocol v2 ──────────────────────────────────────────────
    V2StateReport:
      type: object
      required: [capabilities]
      properties:
        capabilities:
          type: array
          items: { type: string }
          description: |
            Stable capability identifiers this device can act on. The
            brain will not emit desired-state fields whose convergence
            requires a capability absent from this list.
          example:
            - split_tunnel_macos
            - byo_exit_macos
            - peer_observations
            - desired_state_convergence
        connector_version:
          type: string
          nullable: true
          description: |
            Short connector build identifier (same semantics as the v1
            heartbeat field). Added 2026-04-22.
        current_state: { $ref: "#/components/schemas/V2CurrentState" }

    V2CurrentState:
      type: object
      properties:
        endpoint_observed_local: { type: string, nullable: true }
        tx_bytes_lifetime: { type: integer, format: int64, nullable: true }
        rx_bytes_lifetime: { type: integer, format: int64, nullable: true }
        route_all_active: { type: boolean, nullable: true }
        host_lan_ip: { type: string, nullable: true }
        peers:
          type: array
          nullable: true
          items: { $ref: "#/components/schemas/ObservedPeer" }
        telemetry:
          nullable: true
          $ref: "#/components/schemas/V2DeviceTelemetry"
        last_convergence_errors:
          type: array
          nullable: true
          items: { type: string }

    V2DeviceTelemetry:
      type: object
      properties:
        battery:
          nullable: true
          $ref: "#/components/schemas/V2BatteryTelemetry"
        cpu:
          nullable: true
          $ref: "#/components/schemas/V2CpuTelemetry"
        memory:
          nullable: true
          $ref: "#/components/schemas/V2MemoryTelemetry"

    V2BatteryTelemetry:
      type: object
      properties:
        level_percent: { type: integer, nullable: true }
        charging: { type: boolean, nullable: true }
        status: { type: string, nullable: true }
        health: { type: string, nullable: true }
        temperature_c: { type: number, nullable: true }
        voltage_mv: { type: integer, nullable: true }

    V2CpuTelemetry:
      type: object
      properties:
        system_usage_percent: { type: number, nullable: true }
        app_usage_percent: { type: number, nullable: true }
        sample_window_ms: { type: integer, format: int64, nullable: true }

    V2MemoryTelemetry:
      type: object
      properties:
        total_bytes: { type: integer, format: int64, nullable: true }
        available_bytes: { type: integer, format: int64, nullable: true }
        app_pss_bytes: { type: integer, format: int64, nullable: true }
        low_memory: { type: boolean, nullable: true }

    V2StateResponse:
      type: object
      properties:
        node_id: { type: string, format: uuid }
        device_id: { type: string, format: uuid, nullable: true }
        installation_id: { type: string, format: uuid, nullable: true }
        overlay_ip: { type: string }
        network_type: { type: string, enum: [overlay, native] }
        device_kind: { type: string, enum: [managed, provisioned] }
        config_version: { type: integer, format: int64 }
        desired_state: { $ref: "#/components/schemas/V2DesiredState" }
        host_exit_health: { $ref: "#/components/schemas/UpstreamExitHealth" }
        collect_device_telemetry: { type: boolean }
        server_time: { type: string, format: date-time }
        required_capabilities:
          type: array
          items: { type: string }
          description: |
            Capabilities that would have been needed to act on fields
            that got capability-gated out of this response. Clients
            that see a non-empty list know they should surface an
            upgrade hint.

    V2DesiredState:
      type: object
      properties:
        peers:
          type: array
          items: { $ref: "#/components/schemas/PeerConfig" }
        probe_peers:
          type: array
          items: { $ref: "#/components/schemas/ProbePeerConfig" }
        upstream_exit: { $ref: "#/components/schemas/V2UpstreamExit" }
        route_all_traffic: { type: boolean }
        lan_publication: { $ref: "#/components/schemas/V2LanPublication" }

    V2SettingsPatch:
      type: object
      properties:
        route_all_traffic:
          type: boolean
          description: Toggle VPN-through-host / default-route behavior for this device.

    V2LanPublication:
      type: object
      properties:
        enabled: { type: boolean }
        native_gateway_subnet: { type: string }
        published_clients:
          type: array
          items: { $ref: "#/components/schemas/V2PublishedClient" }

    V2PublishedClient:
      type: object
      properties:
        node_id: { type: string, format: uuid }
        node_name: { type: string }
        overlay_ip: { type: string }
        presence: { $ref: "#/components/schemas/Presence" }
        device_kind: { type: string, enum: [managed, provisioned] }

    V2UpstreamExit:
      oneOf:
        - type: object
          required: [state]
          properties:
            state: { type: string, enum: [off] }
        - type: object
          required: [state, id, name, provider_type, wg_config]
          properties:
            state: { type: string, enum: [active] }
            id: { type: string, format: uuid }
            name: { type: string }
            provider_type: { type: string }
            wg_config: { type: string }

    UpstreamExitHealth:
      type: object
      properties:
        state:
          type: string
          enum: [unknown, healthy, degraded, down, never]
        last_handshake: { type: string, format: date-time, nullable: true }
        last_updated: { type: string, format: date-time, nullable: true }
        interface_up: { type: boolean, nullable: true }
        message: { type: string }

    UpstreamExitHealthReport:
      type: object
      properties:
        interface_up: { type: boolean }
        last_handshake:
          type: integer
          format: int64
          nullable: true
          description: Unix seconds of the most recent upstream-exit handshake.

    DeviceMembershipSummary:
      type: object
      properties:
        node_id: { type: string, format: uuid }
        network_id: { type: string, format: uuid }
        network_name: { type: string }
        network_type: { type: string, enum: [overlay, native] }
        relay_mode: { type: string, enum: [never, auto, always] }
        node_name: { type: string }
        os_type: { type: string, nullable: true }
        role: { type: string, enum: [client, host] }
        overlay_ip: { type: string }
        advertised_routes:
          type: array
          nullable: true
          items: { type: string }
        host_priority: { type: integer, nullable: true }
        host_lan_ip: { type: string, nullable: true }
        route_all_traffic: { type: boolean }
        route_all_active: { type: boolean }
        config_version: { type: integer, format: int64 }
        is_online: { type: boolean }
        last_seen: { type: string, format: date-time, nullable: true }
        native_host_role: { type: string, nullable: true }
        native_host_state: { type: string, nullable: true }
        owner_user_id: { type: string, format: uuid, nullable: true }
        device_profile_id: { type: string, format: uuid, nullable: true }

    DeviceMembershipRequestSummary:
      type: object
      properties:
        id: { type: string, format: uuid }
        network_id: { type: string, format: uuid }
        network_name: { type: string }
        desired_role: { type: string, enum: [client, host] }
        desired_name: { type: string, nullable: true }
        desired_advertised_routes:
          type: array
          nullable: true
          items: { type: string }
        status: { type: string, example: pending }
        requested_by_user_id: { type: string, format: uuid, nullable: true }
        created_at: { type: string, format: date-time }
        fulfilled_at: { type: string, format: date-time, nullable: true }

    DeviceSummaryResponse:
      type: object
      properties:
        id: { type: string, format: uuid }
        account_id: { type: string, format: uuid }
        installation_id: { type: string, format: uuid }
        owner_user_id: { type: string, format: uuid, nullable: true }
        display_name: { type: string }
        os_type: { type: string, nullable: true }
        device_kind: { type: string, enum: [managed, provisioned] }
        reported_capabilities:
          type: array
          items: { type: string }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
        last_seen: { type: string, format: date-time, nullable: true }
        collect_device_telemetry: { type: boolean }
        latest_device_telemetry:
          nullable: true
          $ref: "#/components/schemas/V2DeviceTelemetry"
        telemetry_updated_at: { type: string, format: date-time, nullable: true }
        memberships:
          type: array
          items: { $ref: "#/components/schemas/DeviceMembershipSummary" }
        pending_membership_requests:
          type: array
          items: { $ref: "#/components/schemas/DeviceMembershipRequestSummary" }

    AssignedUser:
      type: object
      properties:
        user_id: { type: string, format: uuid }
        email: { type: string, format: email }

    DeviceProfileResponse:
      type: object
      properties:
        id: { type: string, format: uuid }
        account_id: { type: string, format: uuid }
        name: { type: string }
        description: { type: string, nullable: true }
        allowed_network_ids:
          type: array
          items: { type: string, format: uuid }
        device_limit: { type: integer, format: int64, nullable: true }
        device_count: { type: integer, format: int64 }
        allowed_device_kind: { type: string }
        allowed_roles:
          type: array
          items: { type: string }
        allow_rename: { type: boolean }
        allow_delete: { type: boolean }
        allow_route_all: { type: boolean }
        default_route_mode: { type: string }
        egress_cidrs:
          type: array
          items: { type: string }
        created_at: { type: string, format: date-time }
        assigned_users:
          type: array
          items: { $ref: "#/components/schemas/AssignedUser" }

    CreateProfileRequest:
      type: object
      required: [name, allowed_network_ids]
      properties:
        name: { type: string }
        description: { type: string, nullable: true }
        allowed_network_ids:
          type: array
          items: { type: string, format: uuid }
        device_limit: { type: integer, format: int64, nullable: true }
        allowed_device_kind: { type: string, default: both }
        allowed_roles:
          type: array
          items: { type: string }
        allow_rename: { type: boolean }
        allow_delete: { type: boolean }
        allow_route_all: { type: boolean }
        default_route_mode: { type: string, default: off }
        egress_cidrs:
          type: array
          items: { type: string }

    UpdateDeviceRequest:
      type: object
      properties:
        display_name: { type: string }
        collect_device_telemetry: { type: boolean }

    CreateMembershipRequestBody:
      type: object
      required: [network_id]
      properties:
        network_id: { type: string, format: uuid }
        desired_role: { type: string, enum: [client, host], nullable: true }
        desired_name: { type: string, nullable: true }
        desired_advertised_routes:
          type: array
          nullable: true
          items: { type: string }

    UpdateMembershipRequestBody:
      type: object
      properties:
        node_name: { type: string, nullable: true }
        role: { type: string, enum: [client, host], nullable: true }
        advertised_routes:
          type: array
          nullable: true
          items: { type: string }
        host_priority: { type: integer, nullable: true }
        host_lan_ip: { type: string, nullable: true }
        route_all_traffic: { type: boolean, nullable: true }

    DeviceEndpointHistoryEntry:
      type: object
      properties:
        id: { type: string, format: uuid }
        node_id: { type: string, format: uuid }
        node_name: { type: string }
        network_id: { type: string, format: uuid }
        network_name: { type: string }
        overlay_ip: { type: string }
        endpoint: { type: string }
        source: { type: string }
        observed_at: { type: string, format: date-time }

    DeviceEndpointHistoryResponse:
      type: object
      properties:
        device_id: { type: string, format: uuid }
        retention_days: { type: integer, format: int64 }
        entries:
          type: array
          items: { $ref: "#/components/schemas/DeviceEndpointHistoryEntry" }

    NodeEndpointHistoryEntry:
      type: object
      properties:
        id: { type: string, format: uuid }
        node_id: { type: string, format: uuid }
        endpoint: { type: string }
        source: { type: string }
        observed_at: { type: string, format: date-time }

    NodeEndpointHistoryResponse:
      type: object
      properties:
        node_id: { type: string, format: uuid }
        retention_days: { type: integer, format: int64 }
        entries:
          type: array
          items: { $ref: "#/components/schemas/NodeEndpointHistoryEntry" }

    DevicePeeringEntry:
      type: object
      properties:
        peer_node_id: { type: string, format: uuid }
        peer_device_id: { type: string, format: uuid, nullable: true }
        peer_device_name: { type: string, nullable: true }
        peer_node_name: { type: string }
        peer_network_id: { type: string, format: uuid }
        peer_network_name: { type: string }
        peer_overlay_ip: { type: string }
        peer_role: { type: string, enum: [client, host] }
        peer_os_type: { type: string, nullable: true }
        peer_device_kind: { type: string, enum: [managed, provisioned] }
        relationship_mode: { type: string, example: direct }
        mode_changed_at: { type: string, format: date-time, nullable: true }
        probe_started_at: { type: string, format: date-time, nullable: true }
        direct_failures: { type: integer }
        last_handshake: { type: string, format: date-time, nullable: true }
        sampled_at: { type: string, format: date-time, nullable: true }
        rx_bytes: { type: integer, format: int64 }
        tx_bytes: { type: integer, format: int64 }
        last_observed_endpoint: { type: string, nullable: true }
        peer_last_seen: { type: string, format: date-time, nullable: true }
        peer_is_online: { type: boolean }

    DeviceRelayHelperEntry:
      type: object
      properties:
        helper_name: { type: string }
        endpoint: { type: string }
        public_key: { type: string }
        connection_state: { type: string }
        relationship_mode: { type: string }
        mode_changed_at: { type: string, format: date-time, nullable: true }
        probe_started_at: { type: string, format: date-time, nullable: true }
        active_peer_count: { type: integer }
        last_handshake: { type: string, format: date-time, nullable: true }
        sampled_at: { type: string, format: date-time, nullable: true }
        rx_bytes: { type: integer, format: int64 }
        tx_bytes: { type: integer, format: int64 }

    DeviceMembershipPeerings:
      type: object
      properties:
        membership: { $ref: "#/components/schemas/DeviceMembershipSummary" }
        peers:
          type: array
          items: { $ref: "#/components/schemas/DevicePeeringEntry" }
        relay_helpers:
          type: array
          items: { $ref: "#/components/schemas/DeviceRelayHelperEntry" }

    DevicePeeringsResponse:
      type: object
      properties:
        device_id: { type: string, format: uuid }
        memberships:
          type: array
          items: { $ref: "#/components/schemas/DeviceMembershipPeerings" }

    InstallationStateResponse:
      type: object
      properties:
        id: { type: string, format: uuid }
        installation_id: { type: string, format: uuid }
        display_name: { type: string }
        os_type: { type: string, nullable: true }
        device_kind: { type: string, enum: [managed, provisioned] }
        reported_capabilities:
          type: array
          items: { type: string }
        last_seen: { type: string, format: date-time, nullable: true }
        collect_device_telemetry: { type: boolean }
        latest_device_telemetry:
          nullable: true
          $ref: "#/components/schemas/V2DeviceTelemetry"
        telemetry_updated_at: { type: string, format: date-time, nullable: true }
        memberships:
          type: array
          items: { $ref: "#/components/schemas/DeviceMembershipSummary" }
        pending_membership_requests:
          type: array
          items: { $ref: "#/components/schemas/DeviceMembershipRequestSummary" }

    FulfillMembershipRequestBody:
      type: object
      required: [public_key]
      properties:
        public_key: { type: string }
        node_name: { type: string, nullable: true }
        os_type: { type: string, nullable: true }
        endpoint: { type: string, nullable: true }
        advertised_routes:
          type: array
          nullable: true
          items: { type: string }
        host_lan_ip: { type: string, nullable: true }

    FulfillMembershipResponse:
      type: object
      properties:
        device_id: { type: string, format: uuid }
        installation_id: { type: string, format: uuid }
        node_id: { type: string, format: uuid }
        overlay_ip: { type: string }
        network_type: { type: string, enum: [overlay, native] }
        config_version: { type: integer, format: int64 }
        wg_config: { type: string }
        peers:
          type: array
          items: { $ref: "#/components/schemas/PeerConfig" }

    MyAccessNode:
      type: object
      properties:
        id: { type: string, format: uuid }
        node_name: { type: string }
        overlay_ip: { type: string }
        role: { type: string, enum: [client, host] }
        os_type: { type: string, nullable: true }
        network_id: { type: string, format: uuid }
        device_profile_id: { type: string, format: uuid, nullable: true }
        device_kind: { type: string, enum: [managed, provisioned] }
        is_online: { type: boolean }
        route_all_traffic: { type: boolean }
        host_exit_health: { $ref: "#/components/schemas/UpstreamExitHealth" }

    MyAccessResponse:
      type: object
      properties:
        profiles:
          type: array
          items: { $ref: "#/components/schemas/DeviceProfileResponse" }
        nodes:
          type: array
          items: { $ref: "#/components/schemas/MyAccessNode" }

    SelfServiceNodeAction:
      type: object
      additionalProperties: true
      description: Self-service node action body for rename, delete, and route-all toggles.

    BillingPlansPriced:
      type: object
      properties:
        basic: { type: boolean }
        team_starter: { type: boolean }
        teams: { type: boolean }
        large_teams: { type: boolean }

    BillingStatusResponse:
      type: object
      properties:
        configured: { type: boolean }
        secret_key_configured: { type: boolean }
        webhook_configured: { type: boolean }
        plans_priced: { $ref: "#/components/schemas/BillingPlansPriced" }

    RemediateRequest:
      type: object
      properties:
        keep_network_ids:
          type: array
          items: { type: string, format: uuid }
        keep_node_ids:
          type: array
          items: { type: string, format: uuid }
        keep_membership_ids:
          type: array
          items: { type: string, format: uuid }

    AdminStats:
      type: object
      properties:
        total_accounts: { type: integer, format: int64 }
        total_networks: { type: integer, format: int64 }
        total_nodes: { type: integer, format: int64 }
        online_nodes: { type: integer, format: int64 }
        observed_nodes: { type: integer, format: int64 }
        offline_nodes: { type: integer, format: int64 }
        unknown_nodes: { type: integer, format: int64 }
        host_nodes: { type: integer, format: int64 }
        client_nodes: { type: integer, format: int64 }
        total_tokens: { type: integer, format: int64 }
        total_tx_bytes: { type: integer, format: int64 }
        total_rx_bytes: { type: integer, format: int64 }
